@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Satisfy&display=swap');

/* Resetting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
 .carousel-item{
  margin-top: -300px;
 }
.carousel-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #ef6603;
}
.carousel-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;

}


  #hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(2deg, #7bbb43 0%, #315c45 100%);
    padding: 0;
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
   
  }

  
  .hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
    /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ef6603;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
  }
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    border-top: 1px solid #7bbb43;
    border-left: 1px solid #7bbb43;
    border-right: 1px solid #7bbb43;
    border-radius: 15px;
    border-bottom: 3px solid #7bbb43;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #7bbb43;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  
 
  .services .icon-box h4 {
    font-weight: 700;

    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #315c45;
    transition: ease-in-out 0.3s;
    text-decoration: none;
  }
  
  .services .icon-box h4 a:hover {
    color: #ef6603;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #7bbb43;
  }
  
  .services .icon-box:hover {
    border-color: #558309;
    
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
  }
 
 
 /*--------------------------------------------------------------
# Our Portfolio
--------------------------------------------------------------*/
.portfolio {
  padding: 60px 0;
}

.portfolio .portfolio-wrap {
  background: #073839;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 15px;
  margin: 0 0 30px 0;
}

.portfolio .portfolio-wrap img {
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-wrap:hover img {
  /* opacity: 0.4; */
  
  transform: scale(1.1);
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("../images/home_two/ct-images.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.testi-text{
  color: white;
  font-family:"Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;

}
.testi-title{
  color: #7bbb43;
  font-family: 'Satisfy', cursive;
  font-size: 70px;
  font-weight: 700;
  margin-top: 4%;

}
.testi-title-text{
  color: white;
  font-family:"Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;

}
@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

