
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

:root{
--line-border-fill:#9c27b0;
--line-border-empty:hsl(285, 12%, 94%);
}

*{
    box-sizing: border-box;

}
body{

    font-family: 'Raleway', sans-serif;
}
.banner-text {

    text-transform: uppercase;
    /* margin-bottom: 90px; */
    color: #315c45;
    /* background-color: #7bbb43; */
    /* background: linear-gradient(60deg, #7b4397 ,#dc2430); */
    /* background: -webkit-linear-gradient(#eee, #333); */
   /*  background:  linear-gradient(to right, #7bbb43 0%, #315c45 100%);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
}

   
.fa-truck-fast{
    font-size: 2rem;
    color:#e0e0e0;
   
}
.fa-location-dot{
    font-size: 2rem;
    color:#e0e0e0;
  
}
.fa-clipboard-check{
    font-size: 2rem;
    color:#e0e0e0;
}
.fa-sack-dollar{
    font-size: 2rem;
    color:#e0e0e0;
}
.container{
text-align: center;

}
.content-progress{
    position: relative;
    margin-top: 20px ;
    height: 30px;
}
.topleft {
    position: absolute;
    top: -25px;
   left: -7px;
    font-size: 18px;
    color: #e0e0e0;
  }
  .center {
    position: absolute;
    top: -25px;
    width: 100%;
    left: -205px;
    font-size: 18px;
    color: #e0e0e0;
  }
  .topright {
    position: absolute;
    top: -20px;
    right: -5px;
    font-size: 18px;
    color: #e0e0e0;
  }
  .topmiddle{

    position: absolute;
    top: -20px;
    right: 408px;
    font-size: 18px;
    color: #e0e0e0;
  }  

.progress-container{
display: flex;
justify-content: space-between;
position: relative;
margin-bottom: 30px;
max-width: 100%;
width: 100%;
}

.progress-container::before{
    content: "";
    border: 1px dashed #7bbb43;
   
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.3s ease;
    }
   
   
.progress{
background-color:#7bbb43;
position: absolute;
top: 50%;
left: 0;
transform:translateY(-50);
height: 4px;
width: 0%;
z-index: -1;
transition: 0.4s ease;
}


#progress-build{
    color: #7bbb43;
}
.circle{

    background-color:#ffff;
        color: #e0e0e0;
border-radius: 50%;
height: 70px;
width: 70px;
border: 4px solid #e0e0e0;
display: flex;

align-items: center;
justify-content: center;
transition: 0.6s ease;

}
.circle.active{
    border-color: #7bbb43;
    background-color:#ffff;
    
}
.circle.active .fa-sharp{
    color: #7bbb43;
    transition: 0.4s ease;
} 


.btn{
  

    margin: 3px 0;
    padding: 11px 60px;
    background-color: #7bbb43;
    color: white;
    border: 1px solid #7bbb43;
    border-radius: 8px;
    font-size: 14px;
   


}
.btn:focus{
    outline: 0;
   
}
.btn:active{
    transform: scale(0.97);
}
.btn:disabled{
    background-color:gray;
    cursor: not-allowed;
}
/* ---------------front design------------------ */
   
/* .banner-image{
	
    background-image: url('../images/module-I/module1.png');  
    background-size: cover;
     min-height: 550px;
    
    
} */
.Laundry{
	
    background-image: url('../images/module-I/module1.png');  
    background-size: cover;
     min-height: 550px;
    
    
}
.Home{
	
    background-image: url('../images/module-I/module2.png');  
    background-size: cover;
     min-height: 550px;
    
    
}
.Decoration{
	
    background-image: url('../images/module-I/module3.png');  
    background-size: cover;
     min-height: 550px;
    
    
}
.Services{
	background-image: url('../images/module-I/module4.png');  
    background-size: cover;
     min-height: 550px;
}
.Wash{
	background-image: url('../images/module-I/module5.png');  
    background-size: cover;
     min-height: 550px;
}
.E{
	background-image: url('../images/module-I/module6.png');  
    background-size: cover;
     min-height: 550px;
}

.page_progress_section {
    padding: 25px 30px !important;
    display: block;
    margin-bottom:10px;
    
    box-shadow: 2px 0px 29px rgb(0 0 0 / 14%);
}
.build_order_pg_section {
    padding: 25px 30px!important;
    display: block;
    
    /* box-shadow: 2px 0px 29px rgb(0 0 0 / 14%); */
    background-color: #fbfbfb;
}
.section_title{
    font-size: 30px;
    color: #315c45;
    
    margin-bottom: 22px;
   
    text-transform: uppercase;
   
   
}


/* address */
.address_pg_section{
    display: none;
    padding: 25px 30px!important;
   
    
    /* box-shadow: 2px 0px 29px rgb(0 0 0 / 14%); */
    background-color: #fbfbfb;
}

/* checkbox */
 .card-build{
border-radius: 15px;
border-bottom: 3px solid #7bbb43;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 5px 6px 9px 0px rgb(0 0 0 / 16%);
    border-radius: 15px !important;
    margin: 30px 0;
    border-radius: 5px;
    padding: 15px;
    align-items: flex-start;
}
h5{
   
    width: 100%;
    display: flex;
    background-color: #ffffff;
 padding-inline-start: 3%;
font-weight: 600;
text-transform: uppercase;
font-size: 20px;

}
.build-list{
   
    text-align: left;
    font-size: 18px;
     color:  #315c45;

}
.address-list{
   
   text-align: left;
   font-size: 18px;
    color:  #315c45;

}
.column{
    float: left;
    padding: 10px;
   height: 150px;
}
.first{
    width: 200px;
}
.second{
    width: 500px;
    text-align: start;
}
.third{
    width: 300px;
    padding-top: 50px;
}
.row2{
display: flex;
clear: both;
}
.four{
    padding-top: 50px;
    padding-left: 90px;
   
    width:250px;
}
.form-check-input {
    
   
    height: 40px;
    width: 25%;
    filter: hue-rotate(283deg);
    
  
}
/* address */
.colom{
    float: left;
    padding: 10px;
   height: 100px;
}
.col1{
    width: 70px;
   margin-left: 20px;
   margin-top: 5px;
}
.col2{
    width:1100px;
    margin-right: 0px;
    padding: 0;

}
.col3{
    width:90px;

}
.col4{
    height: 20px;
    width: 100%;
}
.address-radio {
 
    height: 40px;
    width: 100%;
    margin-top: 20px;;
    filter: hue-rotate(283deg);
}
.card-address{
    width: 100%;
    display: flex;
    background-color: rgb(244, 252, 238);
    cursor: pointer;
    margin: 30px 0;
    border: 2px  solid #e0e0e0;
    border-radius: 10px !important;
    /* border-color: #e0e0e0; */
    padding: 10px;
    align-items: flex-start;
   
}

.card-address:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-color: #7bbb43;
}

.card-address:hover .p{
   
color: #315c45;


}

.p{
color: #e0e0e0;
margin: 0;
    padding: 0;

}



.remove{
   
    font-size: 16px;
    color: #81ba5a;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 50px;
    display: inline-block;
    border: none;
    background-color: transparent;
}
.cart{
    text-transform: uppercase;
}
/* -------------order-confirm------ */
.order_confirm_section{
    padding: 25px 30px!important;
   
    display:none;
    /* box-shadow: 2px 0px 29px rgb(0 0 0 / 14%); */
    background-color: #ffffff

}
/* -------------order-increment-button------ */
#minus{
  background-color: #fff;
  color: black;
  border-radius: 5px;
  width:40px ;
  border: 2px solid #558309;
}
#plus{
  background-color: #fff;
  color: black;
  border-radius: 5px;
  width:40px ;
  border: 2px solid #558309;
}

#plus:hover{
  background-color: #558309;
  color: #fff;
}
#minus:hover{
  background-color: #558309;
  color: #fff;
}
/* -------------END order-increment-button------ */

#order-heading {
    background-color: #edf4f7;
    position: relative;
    border: 1px solid #7bbb43;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 1000px;
    padding-top: 20px;
    margin: 30px auto 0px
}

#order-heading .text-uppercase {
    font-size: 0.9rem;
    color: #777;
    font-weight: 600
}

#order-heading .h4 {
    font-weight: 600
}

#order-heading .h4+div p {
    font-size: 0.8rem;
    color: #777
}

.close {
    padding: 10px 15px;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -20px
}

.wrapper {
    padding: 0px 50px 50px;
    max-width: 1000px;
    margin: 0px auto 40px;
     border: 1px solid #7bbb43;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
   
}
.table th {
    border-top: none;
    
}

.table thead tr.text-uppercase th {
    font-size: 0.8rem;
    padding-left: 0px;
    padding-right: 0px;
}

.table tbody tr th,
.table tbody tr td {
    font-size: 0.9rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px
}



.list div b {
    font-size: 0.8rem
}

.list .order-item {
    font-weight: 600;
    color: #6db3ec
}

.list:hover {
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 5px
}

label {
    margin-bottom: 0;
    padding: 0;
    font-weight: 900
}


.price {
    color: #5cb99a;
    font-weight: 700
}

p.text-justify {
    font-size: 0.9rem;
    margin: 0
}
.border-bottom {
     border-bottom: 1px solid #7bbb43!important; 
     
}

.border {
    border: 1px solid #7bbb43!important;
}


/* ---------------payment--------------- */
.payment_section{
    padding: 25px 30px!important;
   
   display:none;
   /* box-shadow: 2px 0px 29px rgb(0 0 0 / 14%); */
   background-color: #ffffff
}

 .online-radio{
 
 height: 30px;
 width: 30px;
 filter: hue-rotate(283deg);
}
.payment-radio{
 
 height: 30px;
 width: 30px;
 filter: hue-rotate(283deg);
}
.price-list{
 font-size: x-large;
 color:  #7bbb43;	
	
	
}
/*  
 ===================waves==============
*/
.grid {
  display: grid;
  grid-gap: 1em;
  margin: 10px auto;
  max-width: 70em;
  padding: 0;
  
 
  @media (min-width: 42em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.address-cart {
  background-color: #fff;
  border-radius: 0.5em;
  position: relative;
}
  .address-cart:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }


.address-check {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(1em + 2px);
  top: calc(1em + 2px);
}
.remove {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(1em + 2px);
  top: calc(10em + 5px);
}

  .address-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 2px solid #e2ebf6;
    border-radius: 50%;
    cursor: pointer;
    height: 1.5em;
    outline: none;
    transition: 
      background 0.2s ease-out,
      border-color 0.2s ease-out;
    width: 1.5em; 

  
}
.address-check::after {
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: '';
  display: block;
  height: 0.75rem;
  left: 25%;
  position: absolute;
  top: 50%;
  transform: 
    rotate(45deg)
    translate(-50%, -50%);
  width: 0.375rem;
}

.address-check:checked {
  background: #558309;
  border-color: #558309;
}


.address-cart:hover .address-check {
border-color: #c4d1e1;


}





.address-cart:hover .address-check:checked {
  border-color: #558309;
}
.plan-details {
  border: 2px solid #e2ebf6;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1em;
  transition: border-color 0.2s ease-out;
}

.address-cart:hover .plan-details {
  border-color: #c4d1e1;
}

.address-check:checked ~ .plan-details {
  border-color: #558309;
}

.address-check:focus ~ .plan-details {
  box-shadow: 0 0 0 2px #c4d1e1;
}

.address-check:disabled ~ .plan-details {
  color: #c4d1e1;
  cursor: default;
}

.address-check:disabled ~ .plan-details .plan-type {
  color: #c4d1e1;
}

.address-cart:hover .address-check:disabled ~ .plan-details {
  border-color: #e2ebf6;
  box-shadow: none;
}

.address-cart:hover .address-check:disabled {
    border-color: #e2ebf6;
  }

.plan-type {
  color: #558309;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}

.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*===============================  */
.order-prices{
	margin-left:30%;
	
}
