
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Satisfy&display=swap');





    /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
 section {
    padding: 60px 0;
    overflow: hidden;
  }
  section h1{
    font-family: 'Poppins', sans-serif;
    color: #315c45;
    font-weight: 800;
    margin-left: 10px;
  }
 
 .btn-acc{
 color:rgb(0, 136, 255);
 }
  

/*--------------------------------------------------------------
# account detail
--------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

body{

  /* background: linear-gradient(2deg, #7bbb43 0%, #315c45 100%); */
  background-image: url('../images/myprofile/account.jpg');
 
  background-size: 100% 100%;
   
}
.saveimage{
  border: none ;
 margin-top: 30px;
  margin-left: 35%;
  border-radius: 5px;
  background-color: rgb(0, 136, 255);
  height:  40px;
  width: 30%;
  font-weight: 600;
  font-size: 16px;
}
.saveimage:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: #fff;
}
.account-section .container{
  width: 1000px;
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
}

.container .inputs{
  height: 50px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
}

.container .inputs input{
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid gray;
  border-radius: 7px;
 padding-left: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.container .inputs input:focus{
  border-color: #7bbb42;
}

.container .inputs label{
  position: absolute;
  bottom: 12px;
  left:15px;
  background-color: #fff;
  padding: 3px;
  pointer-events: none;
 
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}
.container .inputs .btn-acc{
  position: absolute;
  bottom: 12px;
  left:870px;
  
  padding: 3px;

 text-decoration: none;
  font-weight: 600;
  font-size: 15px;

}

.container .inputs input:disabled ~ label,
.container .inputs input:focus ~ label,
.container .inputs input:valid ~ label{
  transform: translateY(-23px);
  font-weight: 200;
  font-size: 13px;
  color:#7bbb42;

}


 /* ============modal=========== */
 .modal-content{
  background: linear-gradient(2deg, #7bbb43 0%, #315c45 80%);
  }
  .modal-body .btn{
    position: absolute;
  right: 5px;
  }
  .content-title{
     
    margin: 20px;
      color: #fff;
      font-size: 30px;
      font-weight: 400;
  
    
  }
  .card-title{
    margin: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
}
  .order-content{
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      margin-bottom: 0px;
  
  }
 
  .order-content .inputs input{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 7px;
   padding-left: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .order-content .inputs input:focus{
    border-color: #7bbb42;
  }
  .order-content .inputs label{
    position: absolute;
    bottom:70%;
    left:30px;
    background-color: #fff;
    padding: 3px;
    pointer-events: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .order-content .inputs input:focus ~ label,
  .order-content .inputs input:valid ~ label{
  transform: translateY(-25px);
  font-weight: 200;
  font-size: 13px;
  color:#7bbb42;

}

.order-content .update{
  border: none ;

  margin-left: 10%;
  border-radius: 5px;
  background-color: #7bbb42;
  height:  40px;
  width: 80%;
  font-weight: 600;
  font-size: 16px;
}
.order-content .update:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: #fff;
}
.order-content .later{
  border: 1px solid #7bbb42 ;
  
  margin-left: 10%;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  height:  40px;
  width: 80%;
}
.order-content .later:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color:rgb(0, 136, 255);
}
/* ===============images=========== */
.wraper1{
  /* width: 300px; */
  height: 350px;
  width: 100%;
  background-color: transparent;
 
}
.wrapper{
  width: 250px;
  height: 250px;
  position: relative;
  border: 5px solid gray;
  background-color: #DCDCDC;
  border-radius: 50%;
/*   background-image: url('../images/myprofile/myprofile.png'); */
  background-size: 100% 100%;
  margin: 50px auto;
    margin-bottom: 0;
  overflow: hidden;
}
.my-file{
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 100px;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0,0,0,0.5);
  opacity: 0;

}
.my-file::-webkit-file-upload-button{
  visibility: hidden;
}
.my-file::before{
  content: "\f030";
  font-family: fontAwesome;
  font-size: 35px;
  color: #fff;
  display: inline-block;
  /* -webkit-user-select: none; */
  
}
.my-file::after{
  content:"Update";
  font-family: "arial";
 font-weight: bold;
 color: #fff;
 display: block;
 top: 60px;
  font-size: 10px;
  position: absolute;
}
.my-file:hover{
  opacity: 1;
}

