<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LaundryServicesServlet</servlet-name>
  	<display-name>LaundryServicesServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LaundryServicesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LaundryServicesDeleteServlet</servlet-name>
  	<display-name>LaundryServicesDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LaundryServicesDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>AddressServlet</servlet-name>
  	<display-name>AddressServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddressDeleteServlet</servlet-name>
  	<display-name>AddressDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddressDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderDetailServlet</servlet-name>
  	<display-name>OrderDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmailServlet</servlet-name>
  	<display-name>UpdateEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePhoneServlet</servlet-name>
  	<display-name>UpdatePhoneServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdatePhoneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RejectOrderServlet</servlet-name>
  	<display-name>RejectOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.RejectOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptOrderServlet</servlet-name>
  	<display-name>AcceptOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AcceptOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMessageServlet</servlet-name>
  	<display-name>SendMessageServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NotificationDeleteServlet</servlet-name>
  	<display-name>NotificationDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.NotificationDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackOrderServlet</servlet-name>
  	<display-name>TrackOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.TrackOrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageIconUpload</servlet-name>
  	<display-name>MessageIconUpload</display-name>
  	<description></description>
  	<servlet-class>com.servlet.MessageIconUpload</servlet-class>
  </servlet>
 
  
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LaundryServicesServlet</servlet-name>
  	<url-pattern>/LaundryServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LaundryServicesDeleteServlet</servlet-name>
  	<url-pattern>/LaundryServicesDeleteServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AddressServlet</servlet-name>
  	<url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddressDeleteServlet</servlet-name>
  	<url-pattern>/AddressDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDetailServlet</servlet-name>
  	<url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmailServlet</servlet-name>
  	<url-pattern>/UpdateEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePhoneServlet</servlet-name>
  	<url-pattern>/UpdatePhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RejectOrderServlet</servlet-name>
  	<url-pattern>/RejectOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptOrderServlet</servlet-name>
  	<url-pattern>/AcceptOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMessageServlet</servlet-name>
  	<url-pattern>/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NotificationDeleteServlet</servlet-name>
  	<url-pattern>/NotificationDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackOrderServlet</servlet-name>
  	<url-pattern>/TrackOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageIconUpload</servlet-name>
  	<url-pattern>/MessageIconUpload</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
		
	</welcome-file-list>  
</web-app>
